#join-button
    a.join(
      href="https://crowdsale.nodio.net"
      data-text="JOIN THE PROJECT"
    ) JOIN THE PROJECT
    .point.top.left
    .point.top.right
    .point.bottom.left
    .point.bottom.right
    