doctype html
html
  head
    include assets/head
  body
    include assets/svg-icons
    include assets/favicon
    include assets/preloader
    .container
      include navigation/navbar
      section.pages
        include pages/home
        include pages/portfolio
        include pages/team
        include pages/contacts
