doctype html
html
  head
    include assets/head
  body
    include assets/svg-icons
    include assets/filter
    include assets/preloader
    .container
      include navigation/navbar
      section.pages
        include pages/home
        include pages/contacts