/*** Colors ***/
$black = #000
$white = #FFF
$white-20 = rgba(255,255,255,0.2)
$white-50 = rgba(255,255,255,0.5)
$transparent = transparent;

$dark-purple = #391c23;
$purple = #683e48;
$light-purple = #a48b91;
$extra-light-purple = #d1c5c8;


$turquoise = #17E5B2
$turquoise-10 = rgba(23,229,178,0.1)
$turquoise-20 = rgba(23,229,178,0.2)
$turquoise-50 = rgba(23,229,178,0.5)
$torch_red = #ff004d

$animation-time = 0.5s
$transition-time = 0.2s
$transition-time-fast = 0.15s
$content-transition-time = 0.3s



/*** Common ***/

/* Logo */
$logo-width = 100%
$logo-height = 100%

/* Colors */
$common-body-background-color = $black
$common-body-text-color = $white
$common-body-background-color = $black
$common-link-color = $white;
$common-link-border-color = $white

/* Viewport */
$mobileWidth = 1020px
$mobileSmall_Width = 400px

/* Text */
$common-body-big-font-size = 50px
$common-body-font-size = 16px
$common-body-letter-spacing = 2px


/*** Preloader ***/
$preloader-more = 1.725 // make preloader logo to 690px width
$preloader-unscale = 0.5797101449275362 //unscale to 400px width
$preloader-logo-width = $logo-width * $preloader-more
$preloader-logo-height = $logo-height * $preloader-more



/*** Sidebar ***/

/* Animations */
$sidebar-transition-time = $animation-time
$sidebar-out-transition-time = $transition-time-fast
$sidebar-line-transition-time = $content-transition-time
$sidebar-line-transition-time = $content-transition-time



/*** Content ***/

/* Animations */
$content-show-transition-time = $content-transition-time
$content-blink-animation-time = $animation-time



/*** Team ***/

/* Colors */

$team-color = $purple



/*** Contacts ***/

/* Colors */

$contacts-color = $dark-purple
$contacts-header-color = $white

$contacts-input-color = $white
$contacts-input-border-color = $white-20
$contacts-input-point-color = $white
$contacts-input-placeholder-color = $white-20

$contacts-button-color = $turquoise
$contacts-button-border-color = $turquoise-20



