- var portfolio_routes = require('../../js/configurations/portfolio_routes.json');
    .portfolio-pages-wrapper
        each val, key in portfolio_routes
            div(id=val.replace('#', '')).page
                header.header.page-header
                    h1.header-title The Nodio
                    p.header-text Page with modern style and smart-grid.
                    img(src="../../images/portfolio/nodio.png")
                section.page-content
