#team.page(data-title="Team")
  header.header.page-header
    h1.header-title The Team
    p.header-text Each member of our team is a highly skilled and talented professional that believes in quality work.
  section.page-content
    .persons
      a.person(href="http://fb.com/Alex", title="Facebook Account", target="_blank")
        .data
          .circle
            img(src="../../images/Alex.jpg").photo
            svg.circle-border
              use(xlink:href='#circle')
          .name Alex Bidiuk
          .position Frontend
      a.person(href="http://fb.com/Sergio", title="Facebook Account", target="_blank")
        .data
          .circle
            img(src="../../images/Sergio.jpg").photo
            svg.circle-border
              use(xlink:href='#circle')
          .name Sergio Klimenko
          .position Project Manager
      a.person(href="http://fb.com/Vika", title="Facebook Account", target="_blank")
        .data
          .circle
            img(src="../../images/Vika.jpg").photo
            svg.circle-border
              use(xlink:href='#circle')
          .name Victoria Zuikova
          .position Lead Designer
  footer.page-footer
