#team.page(data-title="team")
  header.header.page-header
    a.creato-home(href='#home' id="home-link") creato
    h1.header-title The Team
    p.header-text Each member of our team is a highly skilled and talented professional that believes in quality work.
  section.page-content
    .persons
      a.person(href="https://www.facebook.com/sasha.bidyuk", title="Facebook Account", target="_blank")
        .data
          .circle
            img(src="../../images/Alex.jpg").photo
            svg.circle-border
              use(xlink:href='#circle')
          .name Alex Bidiuk
          .position CTO
      a.person(href="https://www.facebook.com/klym.serhii", title="Facebook Account", target="_blank")
        .data
          .circle
            img(src="../../images/Sergio.jpg").photo
            svg.circle-border
              use(xlink:href='#circle')
          .name Serhii Klymenko
          .position CEO
      a.person(href="https://www.facebook.com/viktoria.zuikova", title="Facebook Account", target="_blank")
        .data
          .circle
            img(src="../../images/Vika.jpg").photo
            svg.circle-border
              use(xlink:href='#circle')
          .name Viktoria Zuikova
          .position Lead Designer

