@import "../variables.styl"
/* Common styles */
html
  height 100%
html
body
  position relative
  width 100%
  height 100%
  min-height 100%
  margin 0px
  overflow hidden
  font-family 'ADAM.CG PRO'
  font-size $common-body-font-size
  color: $white
  background #050614
  background-image linear-gradient(to bottom, #050614 0%, #01020a 100%)
body
   -webkit-font-smoothing antialiased
   -moz-osx-font-smoothing grayscale
   -webkit-transform-style preserve-3d
  // text-size-adjust none
    
    //если элемент отвернут от пользователя, то контент не виден//
  -webkit-backface-visibility hidden
  
  //letter-spacing $common-body-letter-spacing
  
  -webkit-tap-highlight-color rgba(255, 255, 255, 0)
svg
  size 100%
  display block
  fill inherit

a
a:focus
a:visited
  color $white
  text-decoration none
  outline none
button
input
textarea
  font-family inherit
  
input-webkit-autofill
input-webkit-autofill:hover
input-webkit-autofill:focus
input-webkit-autofill:active
  color inherit !important
  text-fill-color $white !important
  box-shadow 0 0 0px 1000px $white inset
  transition background-color 5000s ease-in-out 0s
.bold
  font-weight 700
