@import "../variables.styl"
json('../../js/configurations/animation.json');
/* Content styles */
.logo
  absolute 50% false false 50%
  transform translate(-50%, -50%)
  width $logo-width
  height $logo-height
  stroke white
  stroke-width 4px
  stroke-linejoin miter
  stroke-linecap square
  fill none
  cursor pointer
  animation neon logo-glowing ease-in-out infinite alternate
  filter url(#glow)

.logo-title
  absolute 100% false false 50%
  width 100vw
  font-size 50px
  padding 0 10px
  color$white
  text-align center
  text-shadow 0px 0px 5px $white
  cursor pointer
  transform translate(-50%, 0)
  z-index 1
.container
  relative false
  visibility hidden
  opacity 0
  size 100%
  &.loaded
    visibility visible
    opacity 1
.main-greeting
  fixed 50% false false 50%;
  size 500px 200px
  text-align center
  transform translate(-50%, -50%)
.header
  display flex
  align-items center
  justify-content flex-end
  absolute 0 0 false 0
  width 100%
  padding 50px
  padding-bottom 0  
  box-sizing border-box
  background-color $transparent
  pointer-events none
  z-index 1100
.creato-home
  float left
  margin-right auto
  font-size 24px
  text-transform capitalize
  animation neon pages-home_link_glowing ease-in-out infinite alternate
.menu
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  overflow hidden
  visibility hidden
  opacity 0
  transition all menu-in_out linear
  z-index 1000
  &.is-active
    visibility visible
    opacity 1

.menu-container
  display flex
  align-items center
  visibility hidden
  height 100%
  opacity 0
  transition all menu-menu_container linear menu-menu_container_delay
  .menu.is-active &
    visibility visible
    opacity 1

.menu-list
  display flex
  width 100%
  justify-content space-around
  li.menu-element
    display block
    flex 1 1 auto
    text-align center
    padding 15px 0
    font-size 22px
  a.menu-link
    display inline-block
    position relative
    padding 10px 0
    text-decoration none
    color #222222
    &:before
      content ""
      display block
      absolute false false 0 0
      width 18px
      height 4px
      opacity 0
      background-color #222222
      transform translate3d(100px,0,0)
      transition all menu-menu_list_link_decor cubic-bezier(.55, 0, .1, 1)
    .no-touch &:hover:before
    &.active:before
      opacity 1
      transform translate3d(0,0,0)
    

.menu-bg-container
  display flex
  position absolute
  align-items center
  justify-content center
  height 10000px
  width 10000px
  top 50%
  left 50%
  overflow hidden
  transform-origin 50% 50%
.menu-bg
  flex 0 0 1000px
  height 100%
  background-color rgba(255, 255, 255, 1)
  transition all menu-menu_bg ease-in-out
  &.top
    background-color #d1c5c8
    transform translate3d(-100%, -100%, 0)
  &.middle
    flex 0 0 900px
    background-color #a48b91
    transform scale3d(0, 1, 1)
  &.bottom
    background-color #683e48
    transform translate3d(100%, 100%, 0)
  .menu.is-active &
    &.top
      transform translate3d(0, 0, 0)
    &.middle
      transform scale3d(1, 1, 1)
    &.bottom
      transform translate3d(0, 0, 0)
.menu-toggle
  display block
  relative false
  width 45px
  height 45px
  padding-left 100px
  pointer-events all
  cursor pointer
  .menu-text
    display inline-block;
    margin-left -130%
    transform translate(0%, -50%)
    animation neon menu-data-text_glowing ease-in-out infinite alternate
.menu-trigger,
.close-trigger
  display block
  visibility hidden
  opacity 0
  transition opacity menu-menu_trigger linear
  &.is-active
    visibility visible
    opacity 1
  .no-touch &:hover
    .menu-trigger-bar
      &:before
        width 100%
.menu-trigger
  margin-top .5rem
  &.is-active
    .menu-trigger-bar
      transform translate3d(0, 0, 0) rotate(-45deg)

.close-trigger
  z-index 5
  margin-top -50%
  transition opacity menu-close_trigger linear
  &.is-active
    .close-trigger-bar
      &.left
        transform translate3d(0, 0, 0) rotate(-45deg)
      &.right
        transform translate3d(0, 0, 0) rotate(45deg)
.menu-trigger-bar
  display block
  width 100%
  height 4px
  background-color white
  margin-bottom 6px
  position relative
  transition all menu-menu_trigger_bar cubic-bezier(0.24, 0.65, 0.36, 0.96)
  transform translate3d(100px, -100px, 0) rotate(-45deg)
  &:before
    display block
    content ""
    absolute 0 false false 0
    width 0%
    height 100%
    background-color rgba(0, 0, 0, 0.2)
    transition all menu-menu_trigger_bar_before cubic-bezier(0.55, 0, 0.1, 1)
  &.top
    width 50%
  &.middle
    transition all menu-menu_trigger_bar_middle cubic-bezier(0.24, 0.65, 0.36, 0.96) menu-menu_trigger_bar_middle_delay
    &:before
      left auto
      right 0
  &.bottom
    width 50%
    margin-left 50%
.close-trigger-bar
  display block
  width 100%
  height 4px
  background-color #fff
  position relative
  transition all menu-close_trigger_bar cubic-bezier(0.02, 0.76, 0.85, 0.93)
  &:before
    content ""
    position absolute
    top 0
    left 0
    display block
    width 0%
    height 100%
    background-color rgba(255, 255, 255, 0.2)
    transition all menu-close_trigger_bar_before cubic-bezier(0.55, 0, 0.1, 1)
  &.left
    transform translate3d(100px, -100px, 0) rotate(-45deg)
  &.right
    transform translate3d(-100px, -100px, 0) rotate(45deg)
    top -3px

+media-query(only screen, max-width $xxl_large)
  .menu-bg
    &.middle
      flex 0 0 600px

+media-query(only screen, max-width $x_large)
  .menu-bg
    &.middle
      flex 0 0 500px

+media-query(only screen, max-width $large)
  .menu-bg
    flex 0 0 460px
  .menu-list
    flex-direction column
    align-items flex-start
    padding 0 30%

+media-query(only screen, max-width $medium)
  .main-greeting
    size 300px 100px
    .logo-title
      font-size 35px
  .header
    padding 25px
    padding-bottom 0
    .menu-toggle
      size 35px 35px
    .menu-trigger
      margin-top .1rem
  .creato-home
    display none

+media-query(only screen, max-width $small)
  .main-greeting
    size 260px 100px
    .logo-title
      font-size 30px
  .menu-bg
    flex 0 0 300px
    &.middle
      flex 0 0 300px 


