@import "../variables.styl"
json('../../js/configurations/animation.json');
/* Content styles */
.logo
  absolute 50% false false 50%
  transform translate(-50%, -50%)
  width $logo-width
  height $logo-height
  stroke white
  stroke-width 2px
  fill none
  cursor pointer
  animation neon logo-glowing ease-in-out infinite alternate
  filter url(#glow)

.logo-title
  absolute 100% false false 50%
  width 100vw
  font-size 50px
  padding 0 10px
  color$white
  text-align center
  text-shadow 0px 0px 5px $white
  cursor pointer
  transform translate(-50%, 0)
  z-index 1
.container
  visibility hidden
  opacity 0
  height 100%
  visibility visible !important // for dev
  opacity 1 !important // for dev
  &.loaded
    visibility visible
    opacity 1
.main-greeting
  fixed 50% false false 50%;
  size 500px 200px
  text-align center
  transform translate(-50%, -50%)
.header
  display flex
  align-items center
  justify-content flex-end
  absolute 0 0 false 0
  padding 50px
  background-color $transparent
  z-index 1100
.menu
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  overflow hidden
  visibility hidden
  opacity 0
  transition all menu-in_out linear
  z-index 1000
  &.is-active
    visibility visible
    opacity 1

.menu-container
  display flex
  align-items center
  visibility hidden
  height 100%
  opacity 0
  transition all menu-menu_container linear menu-menu_container_delay
  .menu.is-active &
    visibility visible
    opacity 1

.menu-list
  display flex
  width 100%
  justify-content space-around
  li.menu-element
    display block
    flex 1 1 auto
    text-align center
    padding 15px 0
    font-size 22px
  a.menu-link
    display inline-block
    position relative
    padding 10px 0
    text-decoration none
    color #222222
    &:before
      content ""
      display block
      absolute false false 0 0
      width 18px
      height 4px
      opacity 0
      background-color #222222
      transform translateX(100px)
      transition all menu-menu_list_link_decor cubic-bezier(.55, 0, .1, 1)
    &:hover:before
    &.active:before
      opacity 1
      transform translateX(0px)
    

.menu-bg-container
  display flex
  position absolute
  align-items center
  justify-content center
  height 10000px
  width 10000px
  top 50%
  left 50%
  overflow hidden
  transform translate(-50%, -50%) rotate(45deg)
  transform-origin 50% 50%
.menu-bg
  flex 0 0 1000px
  height 100%
  background-color rgba(255, 255, 255, 1)
  transition all menu-menu_bg ease-in-out
  &.top
    background-color #d1c5c8
    transform translate(-100%, -100%)
  &.middle
    flex 0 0 700px
    background-color #a48b91
    transform scaleX(0)
  &.bottom
    background-color #683e48
    transform translate(100%, 100%)
  .menu.is-active &
    &.top
      transform translate(0, 0)
    &.middle
      transform scaleX(1)
    &.bottom
      transform translate(0, 0)
.menu-toggle
  display block
  width 42px
  height 42px
  margin-top 10px
  cursor pointer
.menu-trigger,
.close-trigger
  display block
  visibility hidden
  opacity 0
  transition opacity menu-menu_trigger linear
  &.is-active
    visibility visible
    opacity 1
  &:hover
    .menu-trigger-bar
      &:before
        width 100%
.menu-trigger
  margin-top 9px
  &.is-active
    .menu-trigger-bar
      transform translate(0, 0) rotate(-45deg)

.close-trigger
  z-index 5
  margin-top -20px
  transition opacity  menu-close_trigger linear
  &.is-active
    .close-trigger-bar
      &.left
        transform translate(0, 0) rotate(-45deg)
      &.right
        transform translate(0, 0) rotate(45deg)
.menu-trigger-bar
  display block
  width 100%
  height 4px
  background-color white
  margin-bottom 6px
  position relative
  transition all menu-menu_trigger_bar cubic-bezier(0.24, 0.65, 0.36, 0.96)
  transform translateX(100px) translateY(-100px) rotate(-45deg)
  &:before
    display block
    content ""
    absolute 0 false false 0
    width 0%
    height 100%
    background-color rgba(0, 0, 0, 0.2)
    transition all menu-menu_trigger_bar_before cubic-bezier(0.55, 0, 0.1, 1)
  &.top
    width 50%
  &.middle
    transition all menu-menu_trigger_bar_middle cubic-bezier(0.24, 0.65, 0.36, 0.96) menu-menu_trigger_bar_middle_delay
    &:before
      left auto
      right 0
  &.bottom
    width 50%
    margin-left 50%
.close-trigger-bar
  display block
  width 100%
  height 4px
  background-color #fff
  position relative
  transition all menu-close_trigger_bar cubic-bezier(0, 0.46, 0.36, 0.96)
  &:before
    content ""
    position absolute
    top 0
    left 0
    display block
    width 0%
    height 100%
    background-color rgba(255, 255, 255, 0.2)
    transition all menu-close_trigger_bar_before cubic-bezier(0.55, 0, 0.1, 1)
  &.left
    transform translateX(100px) translateY(-100px) rotate(-45deg)
  &.right
    transform translateX(-100px) translateY(-100px) rotate(45deg)
    top -3px
    transition all menu-close_trigger_bar_right cubic-bezier(0, 0.46, 0.36, 0.96) menu-close_trigger_bar_right_delay

+media-query(only screen, max-width $large)
  .menu-bg
    flex 0 0 350px
    &.middle
      flex 0 0 350px
  .menu-list
    flex-direction column
    align-items flex-start
    padding 0 30%

+media-query(only screen, max-width $medium)
  .main-greeting
    size 300px 100px
    .logo-title
      font-size 35px
  .header
    padding 25px
    .menu-toggle
      size 38px 38px
      margin-top 14px

+media-query(only screen, max-width $small)
  .main-greeting
    size 260px 100px
    .logo-title
      font-size 30px
  .menu-bg
    flex 0 0 300px
    &.middle
      flex 0 0 300px 


