@import "../variables.styl"
json('../../js/configurations/animation.json');

.logo.preloader-logo
    width $preloader-logo-width
    height $preloader-logo-height
    stroke-dasharray 1000
    stroke-dashoffset 1000
    animation dash preloader-logo_drawer ease-in-out forwards
    transition all preloader-logo_changing ease-in-out
.preloader
    position absolute
    opacity 1
    visibility visible
    top 0
    left 0
    right 0
    bottom 0
    background-image linear-gradient(270deg, #944f60, #a75065, #01020a)
    background-size 600% 600%
    animation preloaderBg preloader-background ease infinite
    transition all preloader-fading cubic-bezier(0.42, 0, 1, 0.21) preloader-fading_delay
    z-index 1000000
    &.ended 
        opacity: 0;
        visibility: hidden;
        .preloader-logo
            transform: translate(-50%, -50%) scale($preloader-unscale, $preloader-unscale);


