#portfolio-studio.page.portfolio-page(data-title="studio")
    header.header.page-header
        h1.header-title Design Studio
        p.header-text Design for site.
    section.page-content
        img.portfolio-image(data-src="../../images/portfolio/studio.jpg")