<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png?v=1.1">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png?v=1.1">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png?v=1.1">
<link rel="manifest" href="/images/favicon/manifest.json?v=1.1">
<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg?v=1.1" color="#5bbad5">
<link rel="shortcut icon" href="/images/favicon/favicon.ico?v=1.1">
<meta name="msapplication-config" content="/images/favicon/browserconfig.xml?v=1.1">
<meta name="theme-color" content="#ffffff">