svg(style="position: absolute; width: 0; height: 0; visibility: hidden;")
    defs
        filter(color-interpolation-filters="sRGB")#glow
            feGaussianBlur(stdDeviation="2.5" result="coloredBlur")/
            feMerge
                feMergeNode(in="coloredBlur")/
                feMergeNode(in="SourceGraphic")/