.preloader
    .main-greeting
        //object(type="image/svg+xml" data="./images/creato-logo-1.svg")#preloader-logo.logo.preloader-logo
        svg#preloader-logo.logo.preloader-logo
            use(xlink:href='#creato-logo')
