@import "../variables.styl"
/* Contacts styles */
#contacts
  background-color $contacts-color
  .page-content
    display flex
    justify-content center
    flex-wrap wrap
    padding 20px 5%
    .form-wrapper
      display flex
      justify-content center
      flex-wrap wrap
      flex 0 0 100%
    .contact-content-item
      padding 0 20px
      font-size 18px
      &.contact-info
        display flex
        flex-direction column
        justify-content space-between
        padding 18px 20px
        line-height 22px
        letter-spacing 1px
        align-content center
        color $white
        .contact-link
          display block
      &.message-form
          display block
          flex 0 0 500px
          .send
            margin-top -1px
            .point
              z-index -1
        &.error
          .send
            border-color $torch_red
            .error-message
              opacity 1
              z-index 0
            button
              opacity 0
        &.sent
          .form-content-wrap
            border-color $turquoise
          input
          textarea
            color $turquoise
            border-color $turquoise
          .send
            border-color $turquoise
            .send-message
              opacity 1
              z-index 0
            button
              opacity 0
        &.hide-text
          input
          textarea
            color transparent

      &.input-wrap
        size 100% 60px
        relative false
        box-sizing border-box
  input
  textarea
    font-size inherit
    font-weight 300
    padding 18px 27px
    box-sizing border-box
    outline none
    background-color transparent
    color $white
    letter-spacing 1px
    border 1px solid $contacts-input-border-color
    -webkit-appearance none
    border-radius 0
    margin 0
    transition border-color 0.2s linear,
               color 0.2s linear,
               background-color 5000s ease-in-out 0s
    +placeholder()
      color $white-20
      opacity 1 !important
    &:hover
    &:focus
      border-color $white
      background-color transparent
    &.error
      color $torch_red
      -webkit-text-fill-color $torch_red
      border-color $torch_red

  input
    size 100%
  textarea
    display block
    size 100% 250px
    resize none
    margin-top -1px

  .send
    relative false
    size 100% 61px
    box-sizing border-box
    color $white
    border 1px solid $white
    transition border-color 0.2s linear
    &:hover
      border-color $white-50
      color $white-50

  .send-message
  .error-message
    absolute 0
    z-index -1
    box-sizing border-box
    transition opacity 0.2s linear
    opacity 0
  .send-message
    padding 21px 0 21px 27px
    font-size 18px
    font-weight 600
    letter-spacing 3px
    text-transform uppercase
    color $contacts-button-color
  .error-message
    padding 12px 0 12px 27px
    font-size 14px
    line-height 18px
    color $torch_red
    .error-title
    .error-text
      display block
      .print-character
        margin-right -1px
    .error-title
      text-transform uppercase
      font-weight 600
    .error-text
      font-weight 400


  button
    size 100%
    box-sizing border-box
    padding 0 0 0 27px
    outline none
    text-align left
    font-size inherit
    font-weight 600
    letter-spacing 3px
    text-transform uppercase
    color inherit
    background-color transparent
    border 0 none
    cursor pointer
    transition all 0.2s linear
    &.error
      opacity 0
    .mobile
      display none

  h2
    font-size 30px
    font-weight 700
    margin-bottom 29px

  .text
    padding-right 20px
    font-size 12px
    font-weight 300
    line-height 17px
    letter-spacing 0.5px
    margin-top 19px

  .page-footer
    padding-bottom 0
    margin 0

  .socials
    font-size 0
    .social
      relative false
      display inline-block
      vertical-align middle
      size 61px
      margin 0 59px 0 0
      fill $turquoise-20
      transition fill 0.2s linear,
                 background-color 0.2s linear
      &:after
        content ''
        size 59px 1px
        margin auto
        absolute 0 false 0 61px
        background-color $contacts-button-border-color
      &:hover
        fill $turquoise
      &:last-of-type:before
        content ''
        size 1px
        margin auto
        absolute 0 false 0 120px
        background-color $turquoise
      svg
        &.social-logo
          absolute 0
          z-index 1
          margin auto
          size 40%
          fill $white
          stroke transparent
        &.social-border
          absolute 0 false 0 0
          z-index 0
          size 120px 61px
    .nodio
      margin-left 8px
      display inline-block
      vertical-align middle
      span
        font-size 16px
        font-weight 300
        transition text-shadow 0.3s linear
        &:hover
          text-shadow 0 0 2px $white
  .links
    margin-top 27px
    padding 10px 0 20px 7px
    text-align center
    .download
      size 9px
      display inline-block
      margin 0 5px 0 1px
      fill $turquoise

+media-query(only screen, max-width $medium)
  #contacts
    .page-content
      .form-wrapper
        justify-content flex-start
      .contact-content-item
        font-size 15px
        &.message-form
          display block
          flex 0 0 350px
          font-size 15px
+media-query(only screen, max-width $small)
  #contacts
    .page-content
      .contact-content-item
        &.message-form
          display block
          flex 0 0 290px

+media-query(only screen, max-width 380px)
    #contacts
      .socials
        width 260px
        .facebook
          absolute 0 false false 0
        .twitter
          absolute 0 false false 99px
        .slack
          absolute 0 false false 199px
        .reddit
          absolute 61px false false 49px
        .github
          absolute 61px false false 148px
        .btt
          absolute 122px false false 99px
        .nodio
          absolute false 0 0
          text-align center
          margin 0 auto


