@import "../variables.styl"

/* Pages common styles */
.pages
  size 100%
  box-sizing border-box
  margin auto
  relative 
  
.page
  display flex
  flex-direction column
  justify-content space-between
  overflow hidden
  relative false
  box-sizing border-box
  opacity 0
  max-height 0
  transition opacity 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750),
              max-height 0s cubic-bezier(0.250, 0.250, 0.750, 0.750)
  &.show
    z-index 1
    opacity 1
    height 100%
    max-height 10000px
    overflow visible  
  p
    text-align left
  .header.page-header
    position initial
    display block
    .header-title
      font-size 50px
      color $white
      letter-spacing 2px
      text-align center
      transition font-size 0.2s linear
    .header-text
      padding 10px 70px
      font-size 24px
      text-align center

.page-content
    // flex 1 0 auto
.page-footer
    // flex 1 0 auto
    
// for $i in 0..30
//   $height = $expand_height + $i * $expand_height_step
//   $content = floor($i / 2) * $expand_height_step
//   +media-query(only screen, min-height $height)
//     .page
//       .page-footer
//         margin: ((-61px) + $content) 0 0 0;

+media-query(only screen, max-width $mobileWidth)
  .page
    padding-bottom 0

+media-query(only screen, max-width 780px)
  .page
    padding-bottom 0

+media-query(only screen, max-width 480px)
  .page
    .page-header
      .header
        font-size 45px
