@import "../variables.styl"
json('../../js/configurations/animation.json');
/* Pages common styles */
.pages
  relative
  size 100%
  margin auto
  overflow auto
  box-sizing border-box

.page
  display flex
  flex-direction column
  justify-content space-between
  overflow hidden
  relative false
  box-sizing border-box
  opacity 0
  max-height 0
  transition opacity pages-in_out cubic-bezier(0.250, 0.250, 0.750, 0.750)
  &.show
    min-height 100%
    max-height 5000px
    opacity 1
    overflow visible
    z-index 1
p
    text-align left
.header.page-header
    display block
    position initial
    pointer-events all
    .header-title
      font-size 50px
      color $white
      letter-spacing 2px
      text-align center
      transition font-size 0.2s linear
    .header-text
      padding 30px 70px
      font-size 24px
      text-align center  

.page-content
  display flex
  flex 1 1 auto
  justify-content center
  align-items center
  padding 20px 0
.page-footer
    // flex 1 0 auto


+media-query(only screen, max-width $medium)
  .page
    font-size 14px
    .header.page-header
      .header-title
        font-size 35px
        padding 0 40px
      .header-text
        padding 25px 0 0 0
        font-size 16px
        line-height 18px
        letter-spacing 1

+media-query(only screen, max-width $large)
  .page
    .header.page-header
      .header-title
        font-size 40px
