@import "../variables.styl"
portfolio_routes = json('../../js/configurations/portfolio_routes.json', { hash: true, leave-strings: true });
/* Porttfolio styles */
#portfolio
  .page-content
    position relative
    overflow hidden
  .portfolio-pages-wrapper
    absolute 0
    size 100%
    z-index -1
  .portfolio-items-wrapper
    absolute 0 false false 0
    height 10000px
    width 10000px
    transform-origin left center
    overflow hidden
    z-index 1300
    transition opacity pages-in_out cubic-bezier(0.250, 0.250, 0.750, 0.750),
                visibility 0s linear
    &.hide
      visibility hidden
      opacity 0
  .portfolio-scrolling-block
    display flex
    flex-wrap nowrap
    overflow visible
    size 100%
    transform-origin left center
    will-change transform
  .portfolio-item
    display flex
    align-items: center;
    justify-content: center;
    position relative
    height 100%
    overflow hidden
    border-left 1px solid $purple
    border-right 1px solid $purple
    cursor default
    .portfolio-item-text
      relative false
      color $white
      font-size 26px
      text-shadow 0px 0px 4px $white
      cursor pointer
    &#go_back
      cursor pointer
      &
        .portfolio-item-text:after
          display: block
          content ''
          size 25px 100%
          margin -3px 10px 0 0
          absolute 0 100% false false
          transform rotate(180deg)
          background url("/images/double-arrow.svg") no-repeat center center;
          background-size cover


for val, key in portfolio_routes
  #portfolio
    .portfolio-item
      &[id*=\'{key}\']:after
        display block
        absolute 50% false false 50%
        transform translate3d(-50%, -50%, 0) rotate(-45deg)
        content ''
        size 1000vmax
        background-size cover
        z-index -2
        //background s('url(%s)', '/images/portfolio/' + val + '.png') no-repeat 50% center

+media-query(only screen, max-width $medium)
  .portfolio-item
    .portfolio-item-text
      font-size 18px